{{#partial "embed"}}
    <h2>Listen to</h2>
    <p class="lead">Bands in {{city}} on {{date}}</p>
    <iframe src="https://embed.spotify.com/?uri=spotify:user:{{id}}:playlist:{{playlistId}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
{{/partial}}
{{> index.hbs}}