{{#partial "main"}}
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Spot-a-Band</h1>
      <p class="lead font-weight-normal">Say something here about the app...</p>
      <a class="btn btn-outline-secondary" href="{{ authorizeURL }}">Log in to Spotify</a>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Section for finding a band based on Spotify user's top artists. </h2>
        <p class="lead">subheading.</p>
          <button>Show me the next show!</button>
          {{#if user}}

          {{/if}}

      </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Section for getting a playlist from artists in town.</h2>
        <p class="lead">subheading.</p>
          <form>
              <label>City</label>
              <input type="text">
              <br>
              <label>Day</label>
              <input type="text">
              <br>
              <button>Make me a playlist from local performances</button>
          </form>
      </div>
    </div>
  </div>


{{/partial}}

{{> layout.hbs}}