{{#partial "main"}}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-3 mx-auto my-2">
          <img class="img-fluid mb-3" src="/assets/images/spotify/icons/Spotify_Icon_Green_Coated.svg" alt="Spotify Logo">
          <h1 class="display-4 font-weight-normal">Sign In</h1>
          <p class="lead font-weight-normal">Use your Spotify account to sign in!</p>
          <a id="spotifyOAuth" class="btn btn-lg btn-success btn-spotify d-inline-flex" >Spotify oAuth</a>
        </div>
    </div>

  <!--<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">-->
    <!--<div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">-->
      <!--<div class="my-3 py-3">-->
        <!--<h2 class="display-5">Please Sign in</h2>-->
        <!--<p class="font-weight-light">And an even wittier subheading.</p>-->
      <!--</div>-->
      <!--<div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">-->
        <!--<div class="row">-->
          <!--<div class="col-2"></div>-->
          <!--<div class="mt-5 col-8">-->
              <!--<a href="{{ authorizeURL }}" class="btn btn-lg btn-spotify">Sign in</a>-->
            <!--&lt;!&ndash;<form>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="email" class="form-control" id="userEmail" name="userEmail" aria-describedby="emailHelp" placeholder="Enter email">&ndash;&gt;-->
                <!--&lt;!&ndash;<small id="emailHelp"  class="form-text text-muted">We'll never share your email with anyone else.</small>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="Password">&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;<p class="mt-4 text-muted font-weight-light">And an even wittier subheading to boot.</p>&ndash;&gt;-->
              <!--&lt;!&ndash;<button type="submit" class="mt-1 btn btn-outline-secondary text-success">Submit</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</form>&ndash;&gt;-->
          <!--</div>-->
          <!--<div class="col-2"></div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
{{/partial}}

{{#partial "custom-scripts"}}
  <script defer>
    'use strict';

  /*
  *   Dynamic link 'authorizeURL' contains & (encoded value: &#x3D;) and = (encoded value: &amp;)
  *   to decode those symbols we use Regex to replace them back to their normal decoded values
  * */

    var url = "{{ authorizeURL }}".replace(/&#x3D;/g, "=").replace(/&amp;/g, "&");
    var oAuthBtn = document.getElementById("spotifyOAuth");

    /*
    *   Bug Fix:
    *       Usernames are constructed using a StringBuilder method,
    *       so if the use rapidly clicks our 'Spotify oAuth' button
    *       it will append multiple instances of the user's name
    * */
    oAuthBtn.addEventListener("click", function () {
      oAuthBtn.classList.add("disabled"); // Disable button after first click
      oAuthBtn.innerHTML = "Verifying details.. &ensp; <div class=\"loader align-self-center\"></div>"; // Replace default text
      setTimeout(function(){ // Wait 500 milliseconds to allow time for loader animation
         window.location.replace(url)
      }, 500);
    });


  </script>
{{/partial}}

{{> layout.hbs}}