{{#partial "main"}}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <img class="img-fluid" src="public/assets/images/spotify/logos/Spotify_Logo_Green_Coated.svg" alt="Spotify Logo">
            <h1 class="display-4 font-weight-normal">Good App Name</h1>
            <p class="lead font-weight-normal">Say something here about the app...</p>
            <a class="btn btn-lg btn-spotify" href="{{ authorizeURL }}">Log in to Spotify</a>
        </div>
    </div>

  <!--<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">-->
    <!--<div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">-->
      <!--<div class="my-3 py-3">-->
        <!--<h2 class="display-5">Please Sign in</h2>-->
        <!--<p class="font-weight-light">And an even wittier subheading.</p>-->
      <!--</div>-->
      <!--<div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">-->
        <!--<div class="row">-->
          <!--<div class="col-2"></div>-->
          <!--<div class="mt-5 col-8">-->
              <!--<a href="{{ authorizeURL }}" class="btn btn-lg btn-spotify">Sign in</a>-->
            <!--&lt;!&ndash;<form>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="email" class="form-control" id="userEmail" name="userEmail" aria-describedby="emailHelp" placeholder="Enter email">&ndash;&gt;-->
                <!--&lt;!&ndash;<small id="emailHelp"  class="form-text text-muted">We'll never share your email with anyone else.</small>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="password" class="form-control" id="userPassword" name="userPassword" placeholder="Password">&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
              <!--&lt;!&ndash;<p class="mt-4 text-muted font-weight-light">And an even wittier subheading to boot.</p>&ndash;&gt;-->
              <!--&lt;!&ndash;<button type="submit" class="mt-1 btn btn-outline-secondary text-success">Submit</button>&ndash;&gt;-->
            <!--&lt;!&ndash;</form>&ndash;&gt;-->
          <!--</div>-->
          <!--<div class="col-2"></div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
{{/partial}}

{{> layout.hbs}}