{{#partial "spotify"}}
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Section for finding a show based on Spotify user's top artists. </h2>
            <p class="lead">subheading.</p>
            <button>Show me the next show!</button>
        </div>
    </div>

{{/partial}}

{{> layout.hbs}}
{{> index.hbs}}